 .button{
-fx-background-color: brown ;
-fx-background-radius:0;
}

 .button:hover{
-fx-background-color: 0000FF ;
-fx-background-radius: 30 0 0;
}

 .button:pressed{
-fx-background-color: 0000FF ;
-fx-background-radius: 30 0 0;
}

.panebackground1{
    -fx-background-color: FFFF99;
}

.labelPrincipal {
 fx-font-size: 32px;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-text-fill: blue;
    -fx-alignment: center;
    -fx-padding: 10px;
}

.labelBuzon{
    -fx-font-size: 32px;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-text-fill: lightseagreen;
    -fx-alignment: center;
    -fx-padding: 10px;
    
}
.paneBackGroundRetirarDinero{
    -fx-background-color: cornsilk;
}

.labelBackgroundRetirarDinero{
    --fx-font-size: 32px;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-text-fill: lightseagreen;
    -fx-alignment: center;
    -fx-padding: 10px;
}

.buttonRetirarDinero{
   -fx-background-color: salmon ;
   -fx-font-family: Calibri;
    -fx-text-fill: black;
}

.labelTituloRetirarDinero{
     -fx-font-size: 25px;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-text-fill: indigo;
    -fx-alignment: center;
}

.panaMantenimientoCoope{
    -fx-background-color:mediumaquamarine ;
}

.labelTituloMantenimienoCoope{
     -fx-font-size: 20px;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-text-fill: indigo;
    -fx-alignment: center;
}

.labelGeneralMantenimineto{
   --fx-font-size: 20px;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-text-fill: darkgoldenrod;
    -fx-alignment: center; 
}

.panePrintCarnet{
     -fx-background-color:darkgreen ;
}
.labelPrintCarnet{
  -fx-font-size: 20px;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-text-fill: darkgoldenrod;
    -fx-alignment: center;   
}