/*
 * Universidad Nacional - Programación II 2024
*  Tarea Cooperativa
*  Stiward Araya & Justin Mendez 
*/

/* Paleta:
* Blanco crema: rgb(234, 223, 180)
* Celeste pastel: rgb(155, 176, 193)
* Azul pastel: rgb(81, 130, 155)
* Naranja pastel: rgb(246, 153, 92)
*/

*{
    -fx-margin: 0;
    -fx-padding: 0;
}

.standard-button{
    -fx-background-color: rgb(155, 176, 193);
    -fx-text-fill: rgb(40, 90, 120);
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: BASELINE_CENTER;
    -fx-label-padding: 10px;
    -fx-cursor: hand;
}.standard-button:hover{
    -fx-background-color: rgb(81, 130, 155);
    -fx-text-fill: rgb(234, 223, 180);
}.standard-button:pressed{
    -fx-background-color: rgb(40, 100, 120);
}

.main-menu-button {
    -fx-alignment: BASELINE_LEFT !important;
}

.standard-back-button{
    -fx-background-color: rgb(246, 153, 92) !important;
}.standard-button:hover {
    -fx-background-color: rgb(81, 130, 155) !important;
}.standard-button:pressed{
    -fx-background-color: rgb(40, 100, 120) !important;
}

.standard-pane{
    -fx-background-color: rgb(155, 176, 193);
}

.standard-light--pane{
    -fx-background-color: rgb(234, 223, 180);
}

.standard-label{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 5px;
}

.title-label{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 5px;
}

/*.standard-text_field{
    -fx-background-color: transparent;
    -fx-margin: 10px;
    -fx-border: 2px solid black;
}*/

.web-label{
    -fx-font-size: 15px;
    -fx-text-fill: rgb(50, 50, 50);
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.standard-hbox{
    -fx-alignment: CENTER;
    -fx-spacing: 50px;
    -fx-background-color: rgb(234, 223, 180);
}

.standard-list_view{
    -fx-background-color: rgb(81, 130, 155);
    -fx-margin-left: 5px;
    -fx-background-radius: 5%;
}

.background-buzon{
    -fx-background-image: url("../resources/mineB.jpg");
}

.background-login{
    -fx-background-image: url("../resources/ImagenPrincipal.jpg");
}

.standard-vbox{
    -fx-alignment: CENTER;
    -fx-spacing: 15px;
    -fx-background-color: rgb(234, 223, 180);
}

.funcionario-background{
    -fx-background-image: url("../resources/NinnoFuncionario.jpg");
}

.asociado-background{
    -fx-background-image: url("../resources/NinnaAsociada.jpg");
}

.mantenimiento-background{
     -fx-background-image: url("../resources/mantenimiento.png");
}

.images{
   -fx-background-repeat: no-repeat;
  -fx-background-size: stretch;
  -fx-background-position: center;
}