/*
 * Universidad Nacional - Programación II 2024
*  Tarea Cooperativa
*  Stiward Araya & Justin Mendez 
*/

/* Paleta:
* Blanco crema: rgb(234, 223, 180)
* Celeste pastel: rgb(155, 176, 193)
* Azul pastel: rgb(81, 130, 155)
* Naranja pastel: rgb(246, 153, 92)
*/

*{
    -fx-margin: 0;
    -fx-padding: 0;
}

.standard-button{
    -fx-background-color: rgb(155, 176, 193);
    -fx-text-fill: rgb(40, 90, 120);
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: BASELINE_LEFT;
    -fx-label-padding: 10px;
    -fx-cursor: hand;
}.standard-button:hover{
    -fx-background-color: rgb(81, 130, 155);
    -fx-text-fill: rgb(234, 223, 180);
}.standard-button:pressed{
    -fx-background-color: rgb(40, 100, 120);
}

.standard-pane{
    -fx-background-color: rgb(155, 176, 193);
}

.standard-label{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(0, 0, 0);
}

.title-label{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(0, 0, 0);
}

.web-label{
    -fx-font-size: 15px;
    -fx-text-fill: rgb(50, 50, 50);
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}